<h1>Welcome#about</h1>
<p>Blocipedia application designed by Aspet Amirkhanian as a project for Bloc.io</p>
<body>
  Purpose
  </br>
Build an application that allows users to create public and private Markdown-based wikis. We'll call our application "Blocipedia", but you're free to name it anything you want.
/<br>
Use case
/<br>
Wikis are a great way to collaborate on community-sourced content. Whether the wiki is for a hobby or work-related project, we'll build an app that lets users create their own wikis and share them publicly or privately with other collaborators.
</br>
Requirements

As a user, I should be able to sign up for a free account by providing a user name, password and email address.</br>
As a user, I want to be able to sign in and out of the Blocipedia.</br>
As a user, I want to be able to create wiki pages using Markdown syntax.</br>
As a user with a free account, I want to be able to create public wikis that anyone may view.</br>c
As a user I want to be able to upgrade my account from a free plan to a paid (premium) plan so that I can create private wikis.
As a user with a premium account, I want to be able to create private wikis that require a Blocipedia account and proper authorization to view.
As a user with a premium account, I want to be able to add collaborators to my private wikis.
As a user with a premium account, I should be able to add an unlimited number of collaborators to my wikis.
</body>
