<div class="media-body">
  <h4 class="media-heading">
    <%= @wiki.name %>
  </h4>
  <small>

    <%= @wiki.description %>
  </small>
  <%= link_to "Delete", delete_wiki_path(@wiki.id) %>
      <%= link_to "Delete Post", [@wiki], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
  </div>