<div class="media-body">
  <h4 class="media-heading">
    <%= markdown @wiki.name %>
  </h4>
  <small>

    <%= markdown @wiki.description %>
  </small>
  <% if policy(@wiki).edit? %>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-primary' %>
  <% end %>
</div>