<h2>Receipt for Premium Membership from Aspetblocipedia.herokuapp.com</h2>
<div class="container">
           
             This is the receipt for <%= current_user.name %>! for premium membership with blocipedia. 

       

  <p>
  Receipt number#:  0000001
  </p>
  <p>
  
  Paid for premium membership:    
  </p>
  <p>
    <strong>Total Paid: $15.00</strong>!
  
  </p>
  <p> 
   Thank you for shopping with us at aspetblocipedia.herokuapp.com. 
  </p>
</div>
